// It's highly recommended to change the default colors
// to match your app's branding.

// $primary   = #027be3
$primary   = $blue-grey-10
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

////////////////// Personal /////////////////////
$fondo = $grey-10
$letras = $grey-5
$lineas= $grey-8
$resaltado = $grey-8

$body-background = $fondo
$body-color = $letras

////////////////// TABLA /////////////////////
$table-color = $letras // Color de las letras en las lineas dentro de las tablas
$table-header-color = $letras // Color de los titulos de columnas dentro de las tablas
$table-border-color	= $lineas // Color de las lineas en la tabla

////////////////// MENU /////////////////////
$layout-aside-background = $fondo // Color de fondo del menu
$item-highlight-color = $grey-8
$table-hover-background = $resaltado

////////////////// Letras /////////////////////
$typography-font-family = 'Roboto'

@import '~quasar-variables'
